 h1 {
     text-align: center;
     text-transform: capitalize;
     text-transform: uppercase;
     font-family: 'Open Sans', sans-serif;
 }
 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
 input[type=text] {
     width: 100%;
     border: 2px solid#aaa;
     border-radius: 4px;
     margin: 8px 0;
     outline: none;
     padding: 8px;
     box-sizing: border-box;
     transition: .3s;
 }
 
 input[type=text]:focus {
     border-color: dodgerblue;
     box-shadow: 0 0 8px 0 dodgerblue;
 }
 
 input[type=email] {
     width: 100%;
     border: 2px solid#aaa;
     border-radius: 4px;
     margin: 8px 0;
     outline: none;
     padding: 8px;
     box-sizing: border-box;
     transition: .3s;
 }
 
 input[type=email]:focus {
     border-color: dodgerblue;
     box-shadow: 0 0 8px 0 dodgerblue;
 }
 
 input[type=number] {
     width: 100%;
     border: 2px solid#aaa;
     border-radius: 4px;
     margin: 8px 0;
     outline: none;
     padding: 8px;
     box-sizing: border-box;
     transition: .3s;
 }
 
 input[type=number]:focus {
     border-color: dodgerblue;
     box-shadow: 0 0 8px 0 dodgerblue;
 }
 
 input[type=date] {
     width: 100%;
     border: 2px solid#aaa;
     border-radius: 4px;
     margin: 8px 0;
     outline: none;
     padding: 8px;
     box-sizing: border-box;
     transition: .3s;
 }
 
 input[type=date]:focus {
     border-color: dodgerblue;
     box-shadow: 0 0 8px 0 dodgerblue;
 }
 /* input[type=button] {
     width: 100%;
     border: 2px solid#aaa;
     border-radius: 4px;
     margin: 8px 0;
     outline: none;
     padding: 8px;
     box-sizing: border-box;
     transition: .3s;
 } */
 
 input[type=date]:focus {
     border-color: dodgerblue;
     box-shadow: 0 0 8px 0 dodgerblue;
 }
 
 .container {
     /* padding-left: 50%; */
     margin-left: 40%;
 }