<body>
    <div>
        <h1>Booking detals</h1>
    </div>

    <div class="ClientDetails">
        <br>First Name:{{firstname}}<br>
        <br>Last Name: {{lastname}}<br>
        <br> Phone Number: {{phonenumber}}<br>
        <br> Email: {{email}}<br>
        <br>Available Rooms: {{select}}<br>
        <br> Check In Date: {{CheckIndate}}<br>
        <br> Check Out Date: {{CheckOutdate}}<br>
        <br> Bank Name: {{Bankname}}<br>
        <br> Account Holder: {{Accountholder}}<br>
        <br> Card Number: {{Cardno}}<br>

    </div>

</body>