<h1 style="color:black"> Ekhaya Hotel Booking Form</h1>

<div class="container">
    <div class=" row ">
        <div class="col-md-6 booking-form">
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <div class="form-group text">
                        <span class="form-label">First Name </span>
                        <input type="text" formControlName="firstname" class="form-control">
                        <span class="error-block" *ngIf="!f.firstname.valid && (f.firstname.touched ||  booked)">
                            <p class="alert alert-warning">Please provide first name</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group text">
                        <span class="form-label">Last Name </span>
                        <input type="text" formControlName="lastname" class="form-control">
                        <span class="error-block" *ngIf="!f.lastname.valid && (f.lastname.touched ||  booked)">
                            <p class="alert alert-warning">Please provide last name</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group number">
                        <span class="form-label">Phone Number</span>
                        <input type="text" formControlName="phonenumber" class="form-control" minlength="10" maxlength="10" required>
                        <span class="error-block" *ngIf="!f.phonenumber.valid && (f.phonenumber.touched || booked)">
                    <span *ngIf="f.phonenumber.hasError('required')">
                            <p class="alert alert-warning">Please provide mobile number</p>
                        </span>
                        <span class="error-block" *ngIf="f.phonenumber.hasError('maxLength')">
                            <p class="alert alert-info">mobile number cannot have more than 10 digits</p>
                    </span>
                        <span class="error-block" *ngIf="f.phonenumber.hasError('minLength')">
                            <p class="alert alert-info">mobile number cannot have less than 10 digits</p>
                    </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group text">
                        <span class="form-label">Email </span>
                        <input type="email" formControlName="email" class="form-control">
                        <span class="error-block" *ngIf="!f.email.valid && (f.email.touched || booked)">
                        <span *ngIf="f.email.hasError('required')">
                        <p class="alert alert-warning">Please provide name</p>
                    </span>
                        <p class="alert alert-info">Please provide valid email</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="form-label">Room Type</span>
                        <select class="form-control" formControlName="roomType">
                         <option>SUIT</option>
                        <option>DELUX</option>
                        <option>TOP NOTCH</option>
                        
                </select>
                        <span class="error-block" *ngIf="!f.roomType.valid && (f.roomType.touched ||  booked)">
                            <p class="alert alert-warning">Please Select A Room</p>
                        </span>
                        <span class=" select-arrow "></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group  ">
                        <span class="form-label ">Check in date </span>
                        <input type="date" (click)="disableData()" name="CheckIndate" formControlName="CheckIndate" class="form-control" [(ngModel)]="CheckIndate">
                        <span class="error-block" *ngIf="!f.CheckIndate.valid &&  (f.CheckIndate.touched ||  booked)">
                            <p class="alert alert-warning">Please Select Check in Date </p>
                        </span>

                    </div>
                </div>
                <div class="col-md-6 ">

                    <div class="form-group">
                        <span class="form-label ">Check Out Date </span>
                        <input type="date" (click)="disableDate()" name="CheckOutdate" formControlName="CheckOutdate" class="form-control" [(ngModel)]="CheckOutdate">
                        <span class="error-block" *ngIf="!f.CheckOutdate.valid &&  (f.CheckOutdate.touched ||  booked)">
                            <p class="alert alert-warning">Please Select Check out Date </p>
                          
                        </span>
                        <span class="error-block" *ngIf="CheckIndate > CheckOutdate || CheckOutdate < CheckIndate">
                            <p class="alert alert-danger">Check in must not be greater than Check out! </p>
                        </span>

                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="form-group text ">
                        <button class="btn btn-lg btn-info btn-block ">Book</button>
                    </div>
                </div>
            </form>

            {{editForm.value | json}}

        </div>


    </div>

</div>
<!-- isLessthanCheckin={{CheckIndate.value}} -->