<!-- <div class="container">
    <div class=" row ">
        <div class="col-md-6 booking-form">
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <div class="form-group text">
                        <span class="form-label">First Name </span>
                        <input type="text" formControlName="firstname" class="form-control">
                        <span class="error-block" *ngIf="!f.firstname.valid && (f.firstname.touched ||  booked)">
                            <p class="alert alert-warning">Please provide first name</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group text">
                        <span class="form-label">Last Name </span>
                        <input type="text" formControlName="lastname" class="form-control">
                        <span class="error-block" *ngIf="!f.lastname.valid && (f.lastname.touched ||  booked)">
                            <p class="alert alert-warning">Please provide last name</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group number">
                        <span class="form-label">Phone Number</span>
                        <input type="text" formControlName="phonenumber" class="form-control" minlength="10" maxlength="10" required>
                        <span class="error-block" *ngIf="!f.phonenumber.valid && (f.phonenumber.touched || booked)">
                    <span *ngIf="f.phonenumber.hasError('required')">
                            <p class="alert alert-warning">Please provide mobile number</p>
                        </span>
                        <span class="error-block" *ngIf="f.phonenumber.hasError('maxLength')">
                            <p class="alert alert-info">mobile number cannot have more than 10 digits</p>
                    </span>
                        <span class="error-block" *ngIf="f.phonenumber.hasError('minLength')">
                            <p class="alert alert-info">mobile number cannot have less than 10 digits</p>
                    </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group text">
                        <span class="form-label">Email </span>
                        <input type="email" formControlName="email" class="form-control">
                        <span class="error-block" *ngIf="!f.email.valid && (f.email.touched || booked)">
                        <span *ngIf="f.email.hasError('required')">
                        <p class="alert alert-warning">Please provide name</p>
                    </span>
                        <p class="alert alert-info">Please provide valid email</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="form-label">Room Type</span>
                        <select class="form-control" formControlName="roomType">
                         <option>SUIT</option>
                        <option>DELUX</option>
                        <option>TOP NOTCH</option>
                        
                </select>
                        <span class="error-block" *ngIf="!f.roomType.valid && (f.roomType.touched ||  booked)">
                            <p class="alert alert-warning">Please Select A Room</p>
                        </span>
                        <span class=" select-arrow "></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group  ">
                        <span class="form-label ">Check in date </span>
                        <input type="date" (click)="disableData()" name="CheckIndate" formControlName="CheckIndate" class="form-control" [(ngModel)]="CheckIndate">
                        <span class="error-block" *ngIf="!f.CheckIndate.valid &&  (f.CheckIndate.touched ||  booked)">
                            <p class="alert alert-warning">Please Select Check in Date </p>
                        </span>

                    </div>
                </div>
                <div class="col-md-6 ">

                    <div class="form-group">
                        <span class="form-label ">Check Out Date </span>
                        <input type="date" (click)="disableDate()" name="CheckOutdate" formControlName="CheckOutdate" class="form-control" [(ngModel)]="CheckOutdate">
                        <span class="error-block" *ngIf="!f.CheckOutdate.valid &&  (f.CheckOutdate.touched ||  booked)">
                            <p class="alert alert-warning">Please Select Check out Date </p>
                          
                        </span>
                        <span class="error-block" *ngIf="CheckIndate > CheckOutdate || CheckOutdate < CheckIndate">
                            <p class="alert alert-danger">Check in must not be greater than Check out! </p>
                        </span>

                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="form-group text ">
                        <button class="btn btn-lg btn-info btn-block ">Book</button>
                    </div>
                </div>
            </form>

            {{editForm.value | json}}

        </div>


    </div>

</div> -->
<!-- isLessthanCheckin={{CheckIndate.value}} -->

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
    <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-bed w3-margin-right"></i>EKHAYA 5 STAR HOTEL</a>
    <a href="#rooms" class="w3-bar-item w3-button w3-mobile">Rooms</a>
    <!-- <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-mobile">Contact</a> -->
    <a href="/book" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Book Now</a>
</div>
<h1 style="color:black; text-align: center;"> Ekhaya Hotel Booking Form</h1>
<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

    <div class="w3-container w3-margin-top" id="rooms">
        <h3>Our Rooms</h3>
        <p>Welcome home. We offer the best beds in the industry in fact in the entire african continet, so Sleep well and rest well.</p>
    </div>

    <!-- <div class="w3-row-padding">
        <div class="w3-col m3">
            <label><i class="fa fa-calendar-o"></i> Check In</label>
            <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY">
        </div>
        <div class="w3-col m3">
            <label><i class="fa fa-calendar-o"></i> Check Out</label>
            <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY">
        </div>
        <div class="w3-col m2">
            <label><i class="fa fa-male"></i> Adults</label>
            <input class="w3-input w3-border" type="number" placeholder="1">
        </div>
        <div class="w3-col m2">
            <label><i class="fa fa-child"></i> Kids</label>
            <input class="w3-input w3-border" type="number" placeholder="0">
        </div>
        <div class="w3-col m2">
            <label><i class="fa fa-search"></i> Search</label>
            <button class="w3-button w3-block w3-black">Search</button>
        </div>
    </div> -->

    <div class="w3-row-padding w3-padding-16">
        <div class="w3-third w3-margin-bottom">
            <img src="../../assets/single.jpg" style="width:100%">
            <div class="w3-container w3-white">
                <h3>Single Room</h3>
                <h6 class="w3-opacity">From R99</h6>
                <p>Single bed</p>
                <p>15m<sup>2</sup></p>
                <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
                <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
            </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <img src="../../assets/double-bedroom.jpg" style="width:100%">
            <div class="w3-container w3-white">
                <h3>Double Room</h3>
                <h6 class="w3-opacity">From R149</h6>
                <p>Queen-size bed</p>
                <p>25m<sup>2</sup></p>
                <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
                <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
            </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <img src="../../assets/delux.jpg" style="width:100%">
            <div class="w3-container w3-white">
                <h3>Deluxe Room</h3>
                <h6 class="w3-opacity">From R199</h6>
                <p>King-size bed</p>
                <p>40m<sup>2</sup></p>
                <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
                <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
            </div>
        </div>
    </div>